h1 {
    font-size : 100px;
}
h2 {
    font-size : 80px;
}
h3 {
    font-size: 20px;
}
.center {
    /* column-gap: 6em; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    border: 1px solid black; 
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 4px;
}

.input:hover{
    background-color: rgba(255, 255, 255, 0.281);
    border: 1px solid black; 
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 4px;
}